# fly.toml app configuration file generated for marco on 2023-09-19T22:33:23-03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "marco"
primary_region = "gru"

[build]

[env]
  PORT = "8000"

[processes]
  app = "task prod"

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]
