name: Warm up server
on:
  schedule:
    # every 10 minutes
    - cron: '*/10 * * * *'

jobs:
  warm:
    runs-on: ubuntu-latest
    steps:
      - name: Hit home page with 200 status code
        run: |
          PAGE_URL="https://marco.deno.dev"
          STATUS_CODE=$(curl -s -o /dev/null -w "%{http_code}" $PAGE_URL)
          if [ $STATUS_CODE -ne 200 ]; then
            echo "Failed to hit home page with 200 status code"
            exit 1
          fi
          echo "Successfully hit home page with 200 status code"
